html {
    /* background-color: #0abafe;
    background-color: #0088ff;
    background-image: linear-gradient(#fe0798, #ffffff00); */
}
body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0 0 38px;
    margin: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}
body * {
    box-sizing: border-box;
}
#container {
    animation-timing-function: ease-in;
    transition: opacity 0.8s;
    opacity: 0;
}
#main-logo, #main-hero {
    margin: 0 auto;
    width: 100%;
    max-width:240px;
    padding: 10px 3%;
    display: block;
}
#footer {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    color: #f5ee08;
    background-color: #000;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
h1 {
    text-align: center;
    font-size: 1em;
    visibility: hidden;
    display: none;
}
h2 {
    text-align: center;
    font-size: 2.3em;
    font-weight: 100;
    color: #0abafe;
    margin: 0 0 40px;
    font-style: italic;
}
.bg {    
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.ml-embedded{
    margin: 15px;
    margin-bottom: 100px;
}
.ml-form-embedHeader{
    display: none;
}
.ml-form-embedWrapper{
    outline: #d8c458 solid 1px;
}
#link-gallery{
    margin: auto;
    display: table;
    width: 70%;
    padding-bottom: 50px;
}
#link-gallery div{
    width: calc(25% - (0.8vw * 2));
    margin: 0.8vw;
    display: inline-block;
}
#link-gallery div img{
    width: 100%;
    border-radius: 1.9vw;
}
#team{
    margin: auto;
    display: table;
    width: 70%;
    padding: 50px 0;
}
#team .team-member{
    width: calc(33.33% - 40px);
    margin: 20px;
    display: inline-block;
}
#team .team-member img{
    width: 100%;
    border-radius: 30px;
}
#team p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    color: #e757ac;
    margin: 40px 0;
    font-style: italic;
    padding: 0 120px;
}
.main {
    min-height: calc(100vh - 38px);
}
.black-bg {
    background-color: #181818;
}
.magenta-bg{
    background-color:#fe0798;
}
.yellow-bg{
    background-color:#f5ee08;
}
.blue-bg{
    background-color:#0abafe;
}
.magenta-txt{
    color:#fe0798;
}
.yellow-txt{
    color:#f5ee08;
}
.blue-txt{
    color:#0abafe;
}
.altblue-txt{
    color:#009fdc; /* compatibility contrast on white */
}
.bg-palettopia{
    opacity: 80%;
    background: url(../images/palettopia_map_demo.jpg) #cfe0ea no-repeat center top / 90%;
}

@media only screen and (max-width: 500px) {    
    #bg {
        background-size: 440px !important;
    }
    .bg-palettopia{
        background-image: url(../images/sandbox_new_mobile.jpg);
    }
    #main-logo {
        height: auto !important;
        padding: 2% 2% 0px !important;
    }
    #link-gallery{
        width: 100%;
        padding-bottom: 50px;
    }
    #link-gallery div{
        width: 100%;
        padding: 5px 8%;
    }
    /* #link-gallery div{
        width: calc(50% - 30px);
        margin: 20px 20px 0;
    }
    #link-gallery div:nth-child(even){
        margin-left: 0px;
    } */
    #link-gallery div img {
        border-radius: 10vw;
    }
    #team{
        width: 100%;
    }
    #team .team-member{
        width: calc(50% - 30px);
        margin: 20px 20px 0;
    }
    #team > div.team-member:nth-child(odd){
        margin-left: 0px;
    }
    #team > div.team-member:nth-child(4){
        margin: 20px calc((50% + 30px) / 2) 0;
    }
    #team p{
        padding: 0 40px;
        margin-bottom: 0;
    }
}
