html {
    /* background-color: #0abafe;
    background-color: #0088ff;
    background-image: linear-gradient(#fe0798, #ffffff00); */
}
body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}
body * {
    box-sizing: border-box;
}
#container {
    width: 100%;
}
#main-logo, #main-hero {
    margin: 0 auto;
    width: 100%;
    max-width:240px;
    padding: 10px 3%;
    display: block;
}
#footer {
    margin: 0 auto;
    text-align: center;
    color: #f5ee08;
    background-color: #000;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
h1 {
    text-align: center;
    font-size: 1em;
    visibility: hidden;
    display: none;
}
h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    color: #0abafe;
    margin: 0 0 60px;
    font-style: italic;
}
#bg {    
    height: 100%;
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.ml-embedded{
    margin: 15px;
    margin-bottom: 100px;
}
.ml-form-embedHeader{
    display: none;
}
.ml-form-embedWrapper{
    outline: #d8c458 solid 1px;
}

@media only screen and (max-width: 500px) {    
    #bg {    
        background-size: 440px !important;
    }
}
