body{
    background-color: #cfe0ea;    
    background-color: #cae0eb; /* P3 */
}
#owg-logo.corner{
    width: 100%;
    max-width: 9vw;
    min-width: 108px;
    margin: 1.1vw;
    position: fixed;
    top: 0;
    left: 0;
}
#palettopia-logo{
    width: 100%;
    max-width: 30vw;
    margin: auto;
    position: fixed;
    top: 10vw;
    top: calc(-11vh + -19.5vw);
    left: -16vw;
    right: 0;
    bottom: 0;
}
#palettopia-content{
    width: 100%;
    max-width: 28vw;
    min-width: 335px;
    margin: 1.5vw;
    margin-bottom: calc(39px + 1.1vw);
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: left;
    font-family: system-ui;
    color: #5c5c5c;
    /* box-shadow: #0000002e 0.01vw 0.5vw 0.01vw; */
    container-type: inline-size;
}
/* using container-type allows for the use of the relative unit CQW, however it is only available on children elements */
#palettopia-content > div{
    padding: 1.8cqw 7.1cqw;
    border-radius: 4vw;
    font-size: 4.06cqw;
    line-height: 141%;
    background-color: #ffffffc4;
    background: linear-gradient(177deg, #ffffff9c 0%, #ffffffba 50%, #ffffff2e 75%);
    background: linear-gradient(177deg, #ffffffa3 0%, #ffffffba 70%, #ffffff2e 100%);
}
ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 8.5%;
}
ul li{
    padding-bottom: 1.25%;
    text-align: center;
}
ul li a{
    color: #7090a9;
    font-weight: 600;
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
}
ul li a.sublinks{
    color: #7e7e7e;
    font-weight: 300;
    font-size: 0.8em;
}
.social img{
    width: 12%;
    margin: 2% 1% 0;
    filter: hue-rotate(210deg) brightness(2.3) saturate(0.1);
    transition: filter 200ms;
}
.social img:hover{
    filter: hue-rotate(200deg) brightness(1) saturate(0.8);
}
ul li a.social:hover{
    text-decoration: none;
}
button{
    width: 100%;
    max-width: 67%;
    min-height: 9cqw;
    margin: 0;
    padding: 0;
    border-radius: 10cqw;
    font-size: 1.14em;
    font-weight: 400;
    font-family: system-ui;
    color: #fff;
    cursor: pointer;
    background-color: #949ea3;
    border: none;
    background: linear-gradient(140deg, var(--buttonC1) 0%, var(--buttonC2) 50%, var(--buttonC3) 75%);
    transition: --buttonC1 200ms, --buttonC2 200ms, --buttonC3 200ms;
}
button.steam{
    min-height: 12.5cqw;
    position: relative;
    --buttonC1: #4c4c4c;
    --buttonC2: #4c4c4c;
    --buttonC3: #4c4c4c;
}
button.steam span{
    display: block;
    width: 72%;
    margin-left: 28%;
    padding: 0 8% 0 5%;
    text-align: left;
}
button.steam div{
    background: url(../images/social-icon-steam.png) no-repeat 16% center / 14%;
    filter: grayscale(1) brightness(5);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
button:hover{
    --buttonC1: #3e3e3e;
    --buttonC2: #717171;
    --buttonC3: #7c878c;
}
button.steam:hover{
    --buttonC1: #4c4c4c;
    --buttonC2: #9f7acf;
    --buttonC3: #8b88d5;
}
button.newsletter:hover{
    --buttonC1: #567f98;
    --buttonC2: #6dd2d2;
    --buttonC3: #69e0c1;
}
button.presskit:hover{
    --buttonC1: #d4cf6b;
    --buttonC2: #f09c28;
    --buttonC3: #ea8700;
}
@property --buttonC1{
    syntax: '<color>';
    initial-value: #949ea3;
    inherits: false;
}
@property --buttonC2 {
    syntax: '<color>';
    initial-value: #949ea3;
    inherits: false;
}
@property --buttonC3 {
    syntax: '<color>';
    initial-value: #949ea3;
    inherits: false;
}
.map-island{
    z-index: -9;
    background: url(../images/palettopia_map_island_p3.jpg) #cfe0ea no-repeat 4.3vw -2vw / 90%;
    background-color: #cae0eb; /* P3 */
    background-position-x: -2.7vw;
    top: -5.3vh;
    left: -7.7vw;
    right: 7.7vw;
    background-position: center center;
}
.bg.swell{
    z-index: -7;
    height: 100px;
    width: 250px;
    overflow: hidden;
    transform-origin: top left;
    transform: scale(0.6);
}
.swell > .wave{
    height: 100%;
    width: 100%;
    background: url(../images/wave_spritesheet.png) no-repeat 0 / auto;
    background-position-y: 0;
    background-position-x: -1573px;
    animation-name: wave;
    animation-delay: 1s;
    animation-direction: normal;
    animation-duration: 3600ms;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: step-end;
}
@keyframes wave {
    0%      {background-position-x: 0;}
    5.55%   {background-position-x: -262px;}
    11.11%  {background-position-x: -524px;}
    16.66%  {background-position-x: -786px;}
    22.22%  {background-position-x: -1048px;}
    27.77%  {background-position-x: -1310px;}
    33.33%  {background-position-x: -1572px;}
}
flock.bg{
    left: -32vw;
    top: 1vw;
    height: 13vw;
    width: 32vw;
    transform: scale(0.7);
    animation-name: flockOne;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 20s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
flock.bg.two{
    left: -32vw;
    top: 33vw;
    transform: scale(1);
    animation-name: flockTwo;
    animation-delay: 6s;
}
@keyframes flockOne {
    0%      {left: -32vw; top: -2vw}
    50%     {left: 132vw; top: 3vw}
    100%    {left: 132vw; top: 3vw}
}
@keyframes flockTwo {
    0%      {left: -32vw; top: 33vw}
    50%     {left: 132vw; top: 30vw}
    100%    {left: 132vw; top: 30vw}
}
.bg.bird{
    z-index: -5;
    height: 125px;
    width: 125px;
    overflow: hidden;
    position: absolute;
    transform-origin: top left;
    transform: scale(0.5);
}
.bird > .feather{
    height: 100%;
    width: 100%;
    background: url(../images/palettopia_map_brid.png) no-repeat 0 / auto;
    background-position-y: 0;
    background-position-x: -412px;
    animation-name: bird;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 480ms;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: step-end;
}
@keyframes bird {
    0%      {background-position-x: 0;}
    33.33%  {background-position-x: -137px;}
    66.66%  {background-position-x: -274px;}
    100%    {background-position-x: -411px;}
}
clouds > .cloud{
    z-index: -1;
    background: url(../images/palettopia_map_clouds.png) no-repeat -21vw -7vw / 125%;
    animation-name: cloud;
    animation-delay: -0.25s;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes cloud {
    0%    {background-position: -21vw -7vw; background-size: 125%; opacity: 1;}
    5%   {background-position: -21vw -7vw; background-size: 125%; opacity: 1;}
    95%   {background-position: -18vw -5vw; background-size: 120%; opacity: 0.6;}
    100%  {background-position: -18vw -5vw; background-size: 120%; opacity: 0.6;}
}
clouds > .extended{
    background: url(../images/palettopia_map_clouds.png) no-repeat -15vw -4vw / 120%;
    background-position-y: 53vw;
    background-size: 200%;
}

/* Portrait for Desktop */
/* 4/3 aspect ratios */
@media only screen and (min-width: 500px) and (aspect-ratio < 1.15) {
    .map-island {
        top: -20vh;
        background-size: 100vh;
        left: 0;
        right: 0;
    }
    #palettopia-logo {
        top: -62vh;
        max-width: 34vh;
        left: 0;
    }
}

@media only screen and (max-width: 500px) {
    #container {
        overflow-x: hidden;
    }
    #footer {
        position: absolute;
        bottom: auto;
    }
    #owg-logo.corner{
        width: 50%;
        max-width: none;
        margin: 20px 25% 40px;
        position: static;
    }
    #palettopia-logo{
        width: 85%;
        max-width: none;
        margin: 0 7.5%;
        padding: 40px 0 0;
        position: static;
    }
    .map-island{
        background-image: url(../images/palettopia_map_island_p3_mobile.jpg);
        background-size: 150%;
        background-position: -20vw 40px;
        position: static;
        display: block;
        height: 93vw;
        margin-top: -164px;
    }
    #palettopia-content{
        position: static;
        width: 90%;
        max-width: none;
        margin: 15px 5%;
    }    
    #palettopia-content > div{
        padding: 15px;
        border-radius: 40px;
        font-size: 16px;
        line-height: 141%;
    }
    ul{
        margin-top: 30px;
    }
    ul li{
        padding-bottom: 6px;
    }
    ul li a.sublinks {
        font-size: 14px;
    }
    button{
        min-height: 35px;
        font-size: 19px;
        max-width: 75%;
        border-radius: 50px;
        outline-width: 2px;
    }
    button:hover {
        outline-width: 2px;
    }
    button.steam{
        min-height: 50px;
        font-size: 19px;
    }
    clouds > .cloud, clouds > .extended, .bird > .feather, flock.bg, flock.bg.two, .swell > .wave{
        animation-play-state: paused;
        display: none;
    }
    ocean, flocks{
        position: relative;
    }
    .swell:nth-child(1) > .wave, .swell:nth-child(2) > .wave, .swell:nth-child(3) > .wave, flock.bg, .bird:nth-child(1) > .feather, .bird:nth-child(2) > .feather{
        animation-play-state: running;
        display: block;
    }
    .swell:nth-child(1), .swell:nth-child(2), .swell:nth-child(3){
        transform: scale(0.3) !important;
        position: absolute;
        z-index: 1;
        left: 76vw !important;
        top: -15vw !important;
    }
    .swell:nth-child(2){
        left: 7vw !important;
        top: -6vw !important;
    }
    .swell:nth-child(3){
        left: 10vw !important;
        top: 0 !important;
        margin-top: 100vh;
    }
    flock.bg{
        position: absolute;
        z-index: 1;
        transform: scale(2.5);
        animation-duration: 10s;
        top: -21vh !important;
        animation-delay: 1.5s;
    }
}